<<<<<<< HEAD
﻿  @using Microsoft.AspNetCore.Authentication;
@{
    ViewData["Title"] = "Secure";
}
<h2>@ViewData["Title"]</h2>
=======
﻿@using Microsoft.AspNetCore.Authentication
>>>>>>> 213acca612b0e78811f339e5fb846de2e747ce91

<h2>Claims</h2>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<h2>Properties</h2>

<dl>
    @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
    {
        <dt>@prop.Key</dt>
        <dd>@prop.Value</dd>
    }
</dl>